.board,
.green,
.pink {
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
    width: fit-content;
    cursor: pointer;
}

.board>div,
.green>div,
.pink>div {
    border: 1px solid lightblue;
    font-size: 300%;
    text-align: center;
    background-color: ivory;
    cursor: pointer;
}

.green>div {
    background-color: lightgreen;
}

.pink>div {
    background-color: pink;
}

.board .selected {
    background-color: rgb(236, 236, 38);
}

button {
    font-size: 50px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 10px rgba(193, 11, 11, 0.694);
}

.board>div:nth-child(3),
.board>div:nth-child(7),
.board>div:nth-child(11),
.board>div:nth-child(15),
.green>div:nth-child(3),
.green>div:nth-child(7),
.green>div:nth-child(11),
.green>div:nth-child(15),
.pink>div:nth-child(3),
.pink>div:nth-child(7),
.pink>div:nth-child(11),
.pink>div:nth-child(15) {
    border-left: 2px solid blue;
}

.board>div:nth-child(5),
.board>div:nth-child(6),
.board>div:nth-child(7),
.board>div:nth-child(8), 
.green>div:nth-child(5),
.green>div:nth-child(6),
.green>div:nth-child(7),
.green>div:nth-child(8),
.pink>div:nth-child(5),
.pink>div:nth-child(6),
.pink>div:nth-child(7),
.pink>div:nth-child(8) {
    border-bottom: 2px solid blue;
}